<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Notes
                </h1>
            </div>
        </div>
    </section>

    <div style="margin-left: 50px; margin-top: 50px;font-weight: bolder; font-size:25px;">
        <u><a href="{% url 'note:add' %}" style="color:black;">Add New</a></u>
        <u><a href="{% url 'note:trash' %}" style="color:black; margin-left: 500px;">Removed items</a></u>
    </div>

    <section class="section">
        <div class="container">

            <article class="media">
                <div class="media-content">
                    <div class="content">
                    </div>
                </div>
            </article>

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            {% for note in notes %}
                                <strong><li style="font-size: 25px;"><a href="/detail/{{note.id}}/" >{{ note.title }}</a></li></strong>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </article>
        </div>

    </section>
    <footer class="footer">
    </footer>
</body>

</html>